.content {
  height: 100%;
}

.content-col {
  display: flex;
  flex-direction: column;
}

.content-row {
  display: flex;

  & > * {
    margin-right: 1rem;
  }

  & > *:last-child {
    margin-right: 0;
  }
}

.content-section {
  background-color: white;
  border: 0.05rem solid #cccccc;
  border-radius: 0.15rem;
  padding: 0.5rem;

  & > * {
    margin-bottom: 0.6rem;
  }

  & > *:last-child {
    margin-bottom: 0.2rem;
  }

  &:not(:last-of-type) {
    margin-bottom: 0.5rem;
  }
}

.form-col {
  display: flex;
  flex-direction: column;
}

.form-row {
  align-items: center;
  display: flex;

  & > * {
    margin-right: 0.5rem;
  }

  & > *:last-child {
    margin-right: 0;
  }
}

label {
  font-size: 0.67rem;
}

.left-panel {
  min-height: 35rem;
  width: 16rem;
}

.line-chart {
  height: 17.5rem;
}

.right-panel {
  width: 35rem;
}

.spinner-container {
  align-items: center;
  display: flex;
  flex: 1;
  height: 100%;
  justify-content: center;
}

.textarea {
  cursor: default;

  &:focus {
    box-shadow: none;
    outline: 0;
  }
}

.text-box {
  flex: 0 0 10.3rem;
}

.url-list-container {
  display: flex;
  flex: 1;
  flex-direction: column;

  .url-list {
    flex: 1;
    height: 0;
    overflow: auto;
    width: 14rem;

    .url {
      align-items: center;
      display: flex;
      min-height: 1.5rem;

      &:not(:last-of-type) {
        border-bottom: 0.05rem solid #ccc;
      }
    }
  }
}
