<div class="main-container">
  <header class="header header-6">
    <div class="branding">
      <a href="" class="nav-link">
        <clr-icon shape="blocks-group"></clr-icon>
        <span class="title">ML Text Generator</span>
      </a>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">
      <div class="content content-row">
        <div class="content-col left-panel">
          <div class="form-section">
            <div class="form-col">
              <label>Model</label>
              <dropdown [accessors]="modelAccessors" [disabled]="trainingJob" [(selectedValue)]="model" [values]="models"></dropdown>
            </div>
            <div class="form-row">
              <input-cmp [disabled]="trainingJob" [error]="error" placeholder="Model name" [(value)]="modelName" (valueChange)="onChangeName()"></input-cmp>
              <button-cmp (click)="onClickCreateNewButton()" [disabled]="error || !modelName || trainingJob" iconShape="plus" label="Add New"></button-cmp>
            </div>
          </div>

          <div class="form-section url-list">
            <div class="form-col">
              <label>Url</label>
              <input-cmp [disabled]="trainingJob" placeholder="Url" [(value)]="url"></input-cmp>
            </div>
            <div class="form-col">
              <label>Epochs</label>
              <input-cmp [disabled]="trainingJob" placeholder="Epochs" [type]="InputType.Number" [(value)]="epochs"></input-cmp>
            </div>
            <div class="form-col">
              <label>CSS Selector</label>
              <input-cmp [disabled]="trainingJob" placeholder="CSS Selector" [(value)]="selector"></input-cmp>
            </div>
            <div class="form-col">
              <button-cmp (click)="onClickTrainButton()" [disabled]="!model || !url || trainingJob" label="Train"></button-cmp>
            </div>
            <ul class="list-group list-group-flush">
              <li *ngFor="let url of model && model.urls" class="list-group-item">{{ url }}</li>
            </ul>
          </div>
        </div>

        <div class="content-col right-panel">
          <line-chart [data]="chartData"></line-chart>
          <div class="form-section">
            <div class="form-row">
              <div class="form-col">
                <label>Count</label>
                <input-cmp [disabled]="trainingJob" placeholder="Count" [type]="InputType.Number" [(value)]="count"></input-cmp>
              </div>
              <div class="form-col">
                <label>Max Length</label>
                <input-cmp [disabled]="trainingJob" placeholder="Max Length" [type]="InputType.Number" [(value)]="maxLength"></input-cmp>
              </div>
              <div class="form-col">
                <label>Prefix</label>
                <input-cmp [disabled]="trainingJob" placeholder="Prefix" [(value)]="prefix"></input-cmp>
              </div>
              <div class="form-col">
                <label>Temperature</label>
                <input-cmp [disabled]="trainingJob" placeholder="Temperature" [type]="InputType.Number" [(value)]="temperature"></input-cmp>
              </div>
            </div>
            <button-cmp (click)="onClickGenerateButton()" [disabled]="!model || trainingJob" label="Generate"></button-cmp>
          </div>
          <div class="text-box">
            <ng-container *ngFor="let text of generatedText">
              {{ text }}
              <br/>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>