<div class="main-container">
  <header class="header header-6">
    <div class="branding">
      <a href="" class="nav-link">
        <clr-icon shape="blocks-group"></clr-icon>
        <span class="title">ML Text Generator</span>
      </a>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">
      <dropdown [accessors]="modelAccessors" [(selectedValue)]="model" [values]="models"></dropdown>
      <div>
        <input-cmp [error]="error" placeholder="Model name" [(value)]="modelName" (valueChange)="onChangeName()"></input-cmp>
        <button-cmp (click)="onClickCreateNewButton()" [disabled]="error || !modelName" iconShape="plus" label="Create New"></button-cmp>
      </div>
      <div>
        <input clrInput placeholder="Url" [(ngModel)]="url" />
        <button-cmp (click)="onClickTrainButton()" [disabled]="!model || !url" label="Train"></button-cmp>
      </div>
      <div>
        <textarea clrTextarea [ngModel]="$generatedText | async" readonly></textarea>
        <button-cmp (click)="onClickGenerateButton()" [disabled]="!model" label="Generate"></button-cmp>
      </div>
      <ul class="list-group list-group-flush">
        <li *ngFor="let url of $urls" class="list-group-item">{{ url }}</li>
      </ul>
      <line-chart [data]="chartData"></line-chart>
    </div>
  </div>
</div>