:host {
  .btn {
    margin-right: 0;

    &:active {
      background-color: #004a70;
    }

    &:focus {
      outline: none;
    }

    &:hover:not(:active):not(:disabled) {
      background-color: #007cbb;
    }
  }
}
