button {
  min-width: 8rem;

  &.btn {
    background-color: white;
    border-color: #ccc;
    color: black;
    text-align: left;
    text-transform: none;
  }

  &:active,
  &:focus {
    &.btn {
      box-shadow: none;
    }

    outline: none;
  }

  &.disabled {
    cursor: not-allowed;
  }
}

clr-dropdown-menu {
  min-width: 8rem;
}
